#login{
  width:260px;
  background: rgba(254, 254, 255, 0.5);
  margin: 300px auto;
  padding: 30px;
}

#login div{
  text-align: center;
}

#login h1{
  font-size: 5rem;
  margin-top: 0;
  text-align: center;
  color: #888;
}

#login label {
  display: inline-block;
  width: 100px;
}

#login input{
  margin: 10px auto;
}
