<app-login>
  <div id="login">
    <h1>
      {{welcome}}
    </h1>
    <p *ngIf="error" class="text-danger">{{error}}</p>
    <form (submit)="login()" method="post" >
      <div>
        <label for="username">Username</label>
        <input id="username" [(ngModel)]="username" name="username" type="text">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" [(ngModel)]="password" name="password" type="password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
  </div>
</app-login>
