<app-root>
<nav id="nav" class="navbar" *ngIf="user">
  <p id="user">
    Welcome
  </p>
  <ul class="nav navbar-nav navButton">
    <li>
      <a data-toggle="dropdown">{{ user.username }}</a>
      <ul class="dropdown-menu">
        <li>
          <a routerLink="/users" routerLinkActive="active" *ngIf="user.is_admin">
            Users
          </a>
        </li><li>
          <a routerLink="/status" routerLinkActive="active">
            Relays
          </a>
        </li>
        <li>
          <a routerLink="/change-password" routerLinkActive="active">
            Change password
          </a>
        </li>
        <li>
          <a routerLink="/" routerLinkActive="active" (click)="logout()">
            Logout
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
</app-root>
<router-outlet></router-outlet>
